/* w3c-blue.css

   Copyright (c) 2005 W3C (MIT, ERCIM, Keio), All Rights Reserved.
   W3C liability, trademark, document use and software licensing
   rules apply, see:

   http://www.w3.org/Consortium/Legal/copyright-documents
   http://www.w3.org/Consortium/Legal/copyright-software
   */
body
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  color:rgb(27, 52, 91); 
  background-color: white;
  font-family: "Gill Sans MT", "Gill Sans", GillSans, sans-serif;
  font-size: 14pt;
  }

div.toolbar {
              position: fixed; z-index: 200;
              top: auto; bottom: 0; left: 0; right: 0;
              height: 1.2em; text-align: right;
              padding-left: 1em;
              padding-right: 1em; 
              font-size: 60%;
              color: red;
              background: rgb(240,240,240);
              }

div.background {
                 margin: 0; 	padding: 0;
                 font: normal 73%/1.5em 'Trebuchet MS', Tahoma, sans-serif;
                 color: #555;
                 text-align: center;
                 background-color: rgb(36,32,23);
                 }

div.handout {
              margin-left: 20px;
              margin-right: 20px;
              }

div.slide.titlepage {
                      text-align: center;
                      }

div.slide.titlepage.h1 {
                         padding-top: 40%;
                         }

div.slide {
            z-index: 20;
            margin: 0 0 0 0;
            padding: 0;
            border-width: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            line-height: 120%;
            background-color: transparent;
            }

div.background {
                 vertical-align: bottom;
                 left: 0;
                 right: 0;
                 top: 0;
                 bottom: auto;
                 height: 4.1em;

                 padding: 0 0 0 0.2em;
                 margin: 0 0 0 0;

                 background-color: rgb(36,32,23);
                 }

div.background img {
                     height: 13.2em;
                     }

/* this rule is hidden from IE which doesn't support + selector */
div.slide + div[class].slide { page-break-before: always;}

div.slide h1 {
               color: white;
               font-size: 140%;
               line-height: 1.1em;

               width:100%;
               height: 2.3em;
               /*   min-height: 2.3em; */

               margin:0 0 1.8 0; */
               padding: 0.5em 0 0.3em 2em;

               background-color: rgb(36,32,23);

               border-bottom:0.3em groove green;
               }

div.slide h1 a {
                 color:rgb(27, 52, 91);
                 text-decoration: none;
                 }

div.slide h1 a:link {
                      color:rgb(27, 52, 91);
                      text-decoration: none;
                      }

div.slide h1 a:visited {
                         color:rgb(27, 52, 91);
                         text-decoration: none;
                         }

div.slide h1 a:hover {
                       text-decoration: underline;
                       }

div.slide h1 a:active {
                        color: red;
                        text-decoration: underline;
                        }

#head-icon {
             margin-top: 0.5em;
             margin-bottom: 0;
             margin-left: 0;
             margin-right: 1em;
             background:  #90A7D0;
             border-width: 0;
             height: 3em;
             max-width: 3em;
             z-index: 2;
             float: left;
             }

#head-logo {
             margin: 0;
             margin-top: 0.25em;
             padding-top: 0.25em;
             padding-bottom: 0.2em;
             padding-left: 0;
             padding-right: 0;
             height: 3.2em;
             width: 4.8em;
             float: right;
             z-index: 2;
             background: #90A7D0;
             }

#head-logo-fallback {
                      margin: 0;
                      padding: 0;
                      margin-top: -0.8em;
                      width: 4.8em;
                      float: right;
                      z-index: 2;
                      }

/* the next two classes support vertical and horizontal centering */
div.vbox {
           float: left;
           height: 40%;
           width: 50%;
           margin-top: -240px;
           }
div.hbox {
           width:60%;
           margin-top: 0;
           margin-left:auto;
           margin-right:auto;
           height: 60%;
           border:1px solid silver;
           background:#F0F0F0;
           overflow:auto;
           text-align:left;
           clear:both;
           }

/* styling for named background */
div.background.slanty {
                        z-index: 2;
                        bottom: 0;
                        height: 100%;
                        background: transparent;
                        }

div.background.slanty img { margin-top: 4em; width: 100%; height: 80% }

/* the following makes the pre background translucent */
/* opacity is a CSS3 property but supported by Mozilla family */
/* filter is an IE specific feature that also requires width */
div.slide.slanty pre {
                       width: 93%;  /* needed for IE filter to work */
                       opacity: .8;
                       filter: alpha(opacity=80);
                       }

img.withBorder {
                 border: 2px solid #c60;
                 padding: 4px;
                 }

li pre { margin-left: 0; }

@media print { pre { font-size: 60% } }

blockquote { font-style: italic }

img { background-color: transparent }

p.copyright { font-size: smaller }

.center { text-align: center }
.footnote { font-size: smaller; margin-left: 2em; }

a img { border-width: 0; border-style: none }

a:visited { color: navy }
a:link { color: navy }
a:hover { color: red; text-decoration: underline }
a:active { color: red; text-decoration: underline }

a {text-decoration: none}
.navbar a:link {color: white}
.navbar a:visited {color: yellow}
.navbar a:active {color: red}
.navbar a:hover {color: red}

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }
li { margin-left: 0.5em; margin-top: 0.5em; }
li li { font-size: 85%; font-style: italic }
li li li { font-size: 85%; font-style: normal }

div dt
{
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
  }
div dd
{
  margin-left: 2em;
  margin-bottom: 0.5em;
  }


p,pre,ul,ol,blockquote,h2,h3,h4,h5,h6,dl,table {
                                                 margin-left: 1em;
                                                 margin-right: 1em;
                                                 }

p.subhead { font-weight: bold; margin-top: 2em; }

div.cover p.explanation {
                          font-style: italic;
                          margin-top: 3em;
                          }


.smaller { font-size: smaller }

td,th { padding: 0.2em }

ul {
     margin: 0.5em 1.5em 0.5em 1.5em;
     padding: 0;
     }

ol {
     margin: 0.5em 1.5em 0.5em 1.5em;
     padding: 0;
     }

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }
li { margin-left: 0.5em; margin-top: 0.5em; }
li li { font-size: 85%; font-style: italic }
li li li { font-size: 85%; font-style: normal }


ul li {
        list-style: none;
        margin: 0.1em 0em 0.6em 0;
        padding: 0 0 0 40px;
        background: transparent url(bullet.png) no-repeat 5px 8px;
        line-height: 140%;
        }

/* workaround IE's failure to support background on li for print media */
@media print { ul li { list-style: disc; padding-left: 0; background: none; } }

ol li {
        margin: 0.1em 0em 0.6em 1.5em;
        padding: 0 0 0 0px;
        line-height: 140%;
        }

li li {
        font-size: 85%;
        font-style: italic;
        list-style-type: disc;
        background: transparent;
        padding: 0 0 0 0;
        }
li li li {
           font-size: 85%;
           font-style: normal;
           list-style-type: circle;
           background: transparent;
           padding: 0 0 0 0;
           }
li li li li {
              list-style-type: disc;
              background: transparent;
              padding: 0 0 0 0;
              }

/* rectangular blue bullet + unfold/nofold/fold widget */

/*
   setting class="outline on ol or ul makes it behave as an
   ouline list where blocklevel content in li elements is
   hidden by default and can be expanded or collapsed with
   mouse click. Set class="expand" on li to override default
   */

ol.outline li:hover { cursor: pointer }
ol.outline li.nofold:hover { cursor: default }

ul.outline li:hover { cursor: pointer }
ul.outline li.nofold:hover { cursor: default }

ol.outline { list-style:decimal; }
ol.outline ol { list-style-type:lower-alpha }

ol.outline li.nofold {
                       padding: 0 0 0 20px;
                       background: transparent url(nofold-dim.gif) no-repeat 0px 0.5em;
                       }
ol.outline li.unfolded {
                         padding: 0 0 0 20px;
                         background: transparent url(fold-dim.gif) no-repeat 0px 0.5em;
                         }
ol.outline li.folded {
                       padding: 0 0 0 20px;
                       background: transparent url(unfold-dim.gif) no-repeat 0px 0.5em;
                       }
ol.outline li.unfolded:hover {
                               padding: 0 0 0 20px;
                               background: transparent url(fold.gif) no-repeat 0px 0.5em;
                               }
ol.outline li.folded:hover {
                             padding: 0 0 0 20px;
                             background: transparent url(unfold.gif) no-repeat 0px 0.5em;
                             }

ul.outline li.nofold {
                       padding: 0 0 0 52px;
                       background: transparent url(bullet-nofold-dim.gif) no-repeat 5px 8px;
                       }
ul.outline li.unfolded {
                         padding: 0 0 0 52px;
                         background: transparent url(bullet-fold-dim.gif) no-repeat 5px 8px;
                         }
ul.outline li.folded {
                       padding: 0 0 0 52px;
                       background: transparent url(bullet-unfold-dim.gif) no-repeat 5px 8px;
                       }
ul.outline li.unfolded:hover {
                               padding: 0 0 0 52px;
                               background: transparent url(bullet-fold.gif) no-repeat 5px 8px;
                               }
ul.outline li.folded:hover {
                             padding: 0 0 0 52px;
                             background: transparent url(bullet-unfold.gif) no-repeat 5px 8px;
                             }

li ul.outline li.nofold {
                          padding: 0 0 0 21px;
                          background: transparent url(nofold-dim.gif) no-repeat 5px 8px;
                          }
li ul.outline li.unfolded {
                            padding: 0 0 0 21px;
                            background: transparent url(fold-dim.gif) no-repeat 5px 8px;
                            }
li ul.outline li.folded {
                          padding: 0 0 0 21px;
                          background: transparent url(unfold-dim.gif) no-repeat 5px 8px;
                          }
li ul.outline li.unfolded:hover {
                                  padding: 0 0 0 21px;
                                  background: transparent url(fold.gif) no-repeat 5px 8px;
                                  }
li ul.outline li.folded:hover {
                                padding: 0 0 0 21px;
                                background: transparent url(unfold.gif) no-repeat 5px 8px;
                                }

img.withBorder {
                 border: 2px solid #c60;
                 padding: 4px;
                 }

div.header {
             position: absolute;
             z-index: 2;
             left: 0;
             right: 0;
             top: 0;
             bottom: auto;
             height: 2.95em;
             width: 100%;
             padding: 0 0 0 0;
             margin: 0 0 0 0;
             border-width: 0;
             border-style: solid;

             background-color: #0F4318;
             /*   background-color: #005A9C; */
             border-bottom-width: thick;
             border-bottom-color: #95ABD0;
             }

div.footer {
             position: absolute;
             z-index: 80;
             left: 0;
             right: 0;
             top: auto;
             bottom: 0;
             height: 3.5em;
             margin: 0;
             font-size: 80%;
             font-weight: bold;
             padding-left: 1em;
             padding-right: 0;
             padding-top: 0.3em;
             padding-bottom: 0;
             color:rgb(27, 52, 91);
             background-color: #95ABD0;
             }

/* this is a hack to hide property from IE6 and below */
div[class="footer"] {
                      position: fixed;
                      }

#hidden-bullet {
                 visibility: hidden;
                 display: none;
                 }

div.slide.cover {
                  background-color: rgb(240,249,255);
                  padding-top: 0;
                  padding-right: 0;
                  padding-left: 0;
                  height: 100%;
                  }

div.slide.cover h1 {
                     margin: 0;
                     padding-left: 1em;
                     color:rgb(27, 52, 91);
                     /*   height: auto; */
                     height: 2em;
                     margin-bottom: 0;
                     height: 2.3em;
                     /*   min-height: 2.3em; */

                     margin:0 0 1.8 0; */
                     padding: 0.5em 0 0.3em 2em;

                     background-color: transparent;
                     border-bottom:0;
                     }

div.slide.cover h2 {
                     color:rgb(27, 52, 91);
                     }

div.slide.cover p.slogan {
                           color:rgb(27, 52, 91);
                           margin-left: 2.5em;
                           position: relative;
                           font-size:1.1em;
                           }

div.slide.cover a {
                    color:rgb(27, 52, 91);
                    }

div.slide.cover .titleString {
                               position:absolute;
                               bottom:0.4em;
                               right:0;
                               color:rgb(27, 52, 91);
                               text-align: right;
                               font-size:1.2em;
                               margin-right:1%;
                               }

div.slide.cover .releaseString {
                                 position:absolute;
                                 padding-bottom:2.0em;
                                 bottom:0;
                                 right:0;
                                 color:rgb(27, 52, 91);
                                 text-align: right;
                                 font-size:0.6em;
                                 margin-right:1%;
                                 }


div.slide.cover .author {
                          position:absolute;
                          bottom:0;
                          right:0;
                          color:rgb(27, 52, 91);
                          margin-top: 1.0em;
                          text-align: right;
                          font-size:0.6em;
                          margin-bottom:1.5em;
                          margin-right:1%;
                          }


div.slide.cover a:visited { color: gray; }
div.slide.cover a:link { color: rgb(27, 52, 91); }
div.slide.cover a:hover { color: green; text-decoration: underline }
div.slide.cover a:active { color: green; text-decoration: underline }

div.slide.cover a:hover, div.slide.cover a:active {
                                                    color: green; text-decoration: underline;
                                                    }

div.slide.cover img.cover {
                            top:0;
                            z-index: 6;
                            /*    margin: 0.5em 0 4em 0; */
                            margin: 0.5em 0 4em 0;
                            float: right;
                            overflow: hidden;
                            width: 100%;
                            padding-left: 0;
                            /*   top:-2.0em; */
                            /* height:100%; */
                            }


div.slide.cover .copyright01 {
                               z-index: 7;
                               position:absolute;
                               text-align: left;
                               top:3.0em;
                               /*   top:3.0em; */
                               /*   top:0; */
                               font-size:0.31em;
                               color:blue;
                               }

div.slide.cover .copyright01 a:hover, div.slide.cover .copyright01 a:active {
                                                                              color: white; text-decoration: underline;
                                                                              }


div.slide .bigpicture {
                        padding-left:1%;
                        padding-right:5%;
                        float:left;
                        overflow: hidden;
                        width: 43%;
                        }

div.slide .bigpictureText {
                            position: relative;
                            color:rgb(27, 52, 91);
                            padding-top: 3%;
                            padding-left: 45%;
                            font-size:0.8em;
                            /* vertical-align:50%; */
                            }


div.slide div.blueprint img {
                              margin-top:3%;
                              margin-left:1%;
                              margin-right:3%;
                              overflow: hidden;
                              width: 57%;
                              float:left;
                              }


div.slide div.blueprintText  {
                               color:rgb(27, 52, 91);
                               top:0;
                               margin-top: 4.1em;
                               font-size:0.8em;
                               }


div.slide .desktop {
                     margin-left:15%;
                     width: 40%;
                     margin-top:0.5em;
                     margin-bottom:0.5em;
                     }


div.slide .osiconset {
                       padding-top:1em;
                       padding-left:3em;
                       float:left;
                       overflow: hidden;
                       }

div.slide .osicon {
                    padding-left:5px;
                    padding-right:5px;
                    float:left;
                    overflow: hidden;
                    width: 50px;
                    height: 50px;
                    
                    }

div.slide .space01 {
                     padding-left:5px;
                     padding-right:5px;
                     float:left;
                     overflow: hidden;
                     width: 50px;
                     height: 50px;
                     
                     }


div.slide.cover a:hover, div.slide.cover a:active {
color: green; text-decoration: underline;
}

/* for Bert as an ardent user of the old W3C slidemaker tool */

div.comment { display: none; visibility: hidden }

@media print { div.comment { display: block; visibility: visible } }

div.slide .copyrightPre {
  position: relative;
  color:rgb(27, 52, 91);
  font-size:0.6em;
}

div.slide .copyrightText {
  position: relative;
  color:rgb(27, 52, 91);
  font-size:0.4em;
    line-height:100%;
    
}

/* div.slide div.blueprint img-row-pre { */
img-row-pre {
   margin-top:3%;
   margin-left:1%;
   margin-right:3%;
   overflow: hidden;
   width: 22;
   float:left;
}


