/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Adapted by : Ingenieurbuero Arno-Can Uestuensoez 20110224

*/

body {
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #DCD0BC;
}

h1, h2, h3 {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #F93D00;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	border-bottom: 1px dotted #999999;
	color: #417FDA;
}

a:hover {
	background: none;
}

#wrapper {
	width: 1190px;
	margin: 0 auto;
	padding: 20px;
}


/* Header */
#header {
	width: 1190px;
	height: 60px;
	margin: 0 auto;
}

#menu a#current  {
	background: #FFF;
	color: #000;
}


/* Logo */
#logo {
	float: left;
	width: 1000px;
	color: #FFFFFF;
}

#logo h1, #logo p {
}

#logo h1 {
	float: left;
	padding: 0;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 2.6em;
}

.sess {
	color: #6a97d0;
        font: bold;
	font-size: 1.4em;
}

.uni {
	color: black;       
}

.man {
	color: black;       
}

#slogan {
        font: bold;
	color: black;
}


#logo p {
	float: left;
	margin: 0;
	padding: 10px 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}


/* Search */
#search {
	float: right;
	width: 230px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 70px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	border: none;
	text-transform: lowercase;
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#search-submit {
	display: none;
}


#banner {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img03.png) no-repeat left top;
/* 	background: url(../../images/wiki_mod-800px-Nnw_view_from_masada_fortress_top.png) no-repeat left top; */
}

#banner1 {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/wiki_mod-800px-Nnw_view_from_masada_fortress_top.png) no-repeat left top;

}


#bannerSpecial {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/balboa_12_bg_041104-1200x190.png) no-repeat left top;
}

#bannerGuestOS {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/800px-Montgolfiade_warstein_2010_1200x190.png) no-repeat left top;
}

#bannerConfig {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/balloon_5_bg_060901-conf-1200x190.png) no-repeat left top;
}

#bannerIntro {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/800px-Mass_Ascension-1200x190.png) no-repeat left top;
}

#bannerManuals {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/balloon_16_bg_060901-1200x190.png) no-repeat left top;
}

#bannerPlugins {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/balloon_14_bg_060901-cluster-1200x190.png) no-repeat left top;
}

#bannerDocuments {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/800px-innen-1200x190.png) no-repeat left top;
}

#bannerDownloads {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/balloon_12_bg_060901-download-1200x190.png) no-repeat left top;
}

#bannerScreenshots {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/screenshots.png) no-repeat left top;
}




/* Menu */
#menu {
	width: 1190px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
	background: #565F68 url(images/img.png) no-repeat left top;
}

#menu ul {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-top: 20px;
	margin-right: 3px;
	padding: 7px 20px 7px 20px;
	background: #FFFFFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: #DCD0BC;
	color: #000000;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu a:hover {
	text-decoration: underline;
}


/* Page */
#page {
	width: 1190px;
	margin: 0 auto;
	padding-top: 20px;
	background: #FFFFFF;
}

#page p a img {
  width:25%; 
  border:0;
  padding:0;
  margin:0;
  bottom:0;    
  background-color:transparent;    
}

#page a img {
  width:100%; 
  border:0;
  padding:0;
  margin:0;
  bottom:0;    
  background-color:transparent;    
}


/* top menu */
#menu-top ul {
	position: absolute;
	right: 32px; top: 9px;
	font: 0.9em 'Trebuchet MS', sans-serif;
	color: #FFF;
	list-style: none;
	margin: 0; padding: 0;		
}

#menu-top li {
	display: inline;
}
#menu-top li a {
	float: left;
	display: block;
	padding: 3px 12px;	
	color: #000000;
	background: #DCD0BC;
	text-decoration: none;
	border-right: 1px solid #272727;
}
#menu-top li a:hover {
	background: rgb(122,98,62);       
	color: #FFF;
}

#menu-top a#current  {
	background: rgb(122,98,62);
	color: #FFF;
}

/* #menu-top li  a .langImg { */
#menu-top ul li a  img {
           height: 11px;
           width: 20px;

           border:0;
           padding:0;
           margin:0;
           bottom:0;
}



/* Content */

#content {
	float: right;
	width: 890px;
	padding: 20px 30px 0 0;
}

.post {
}

.post .title {
/* 	color: #000000; */
	color: #A97B24;
}

.post .title a {
	background: none;
	color: #A97B24;
    	border: none;
}

.post .title a:hover {
	text-decoration: underline;
}


.post .title2 {
	padding-left: 15px;
	color: #000000;
}

.post .title2 a {
	background: none;
	color: #A97B24;
    	border: none;
}

.post .title2 a:hover {
	text-decoration: underline;
}

.post .meta {
	border-bottom: 1px dashed #D2D4C9;
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .entry {
	padding: 10px 0 20px 0;
	text-align: justify;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 220px;
	padding: 20px 0 0 30px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D2D4C9;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	letter-spacing: -.5px;
	color: #A97B24;
}

#sidebar p {
	padding-bottom: 20px;
	text-align: justify;
}

#sidebar a {
	color: #417FDA;
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #787878;
}


#sidebar li a img  {
  width:85px;
}

#sidebar #donateImg  {
  width:85px;
}

#sidebar #GNUImg  {
  width:60px;
}



/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 1190px;
	height: 20px;
	margin: 0 auto;
	padding: 20px 0 15px 0;
	background: url(images/img.png) no-repeat left top;
	font-family: Arial, Helvetica, sans-serif;
	color: #B2B2B2;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}

#footer a {
	color: #FFFFFF;
}




/* start - table */
table {
	border-collapse: collapse;
	margin: 10px 15px;	

        width:95%;
	font:  1.2em/1.5em "Trebuchet MS", Tahoma, sans-serif; 

}


#c1x { 
width:70%;
}
#c2x { 
width:30%;
}

#c1 { 
width:70%;
}
#c2 { 
width:10%;
}
#c3 { 
width:10%;
}
#c4 { 
width:10%;
}


th strong {
	color: #fff;
}
th {
	background: #946D19;
	height: 29px;
	padding-left: 11px;
	padding-right: 11px;
	color: #fff;
	text-align: left;
	border-left: 1px solid #B6D59A;
	border-bottom: solid 2px #FFF;
}
tr {
	height: 30px;
}
td {
	padding-left: 11px;
	padding-right: 11px;
	border-left: 1px solid #FFF;
	border-bottom: solid 1px #ffffff;
}
td.first,th.first {
	border-left: 0px;

}

tr.first {

}
tr.row-a {
 	background: #E7DED2;

}
tr.row-b {
	background: #DED2BD;
}





#page p a img {
  width:25%; 
  border:0;
  padding:0;
  margin:0;
  bottom:0;    
  background-color:transparent;    
}

#page a img {
  width:100%; 
  border:0;
  padding:0;
  margin:0;
  bottom:0;    
  background-color:transparent;    
}





tr.img-row {
	height: 30px;
}
tr.img-row-pre {
	height: 30px;
}
td.img-row {
	padding-left: 11px;
	padding-right: 11px;
	border-left: 1px solid #FFF;
	border-bottom: solid 1px #ffffff;
        width:30%;
}
td.img-row-pre {
	padding-left: 11px;
	padding-right: 11px;
	border-left: 1px solid #FFF;
	border-bottom: solid 1px #ffffff;

        width:10%;

}
tr.img-row-a {
	background: #FFFFFF;
        text-align:center;
	font: normal 0.8em "Trebuchet MS", Tahoma, sans-serif;


        width:10%;
}
tr.img-row-b {
	background: #FFFFFF;
}
/* end - table */





#tagCloud01 { 
 	margin-left: 15%; 
        width:70%;
 	margin-top: 20px; 
 	margin-bottom: 20px; 
	text-align: center;
        word-spacing:0.4em;
        padding-left: 10px;		
        padding-right: 10px;		
	font: 0.9em 'Trebuchet MS', sans-serif;
	color: #FFF;
	list-style: none;
}

#tagCloud01 .s01 { 
        font-size:0.4em;
}
#tagCloud01 .s02 { 
        font-size:0.6em;
}
#tagCloud01 .s03 { 
        font-size:0.8em;
}
#tagCloud01 .s04 { 
        font-size:1.0em;
}
#tagCloud01 .s05 { 
        font-size:1.2em;
}
#tagCloud01 .s06 { 
        font-size:1.4em;
}
#tagCloud01 .s07 { 
        font-size:1.6em;
}
#tagCloud01 .s08 { 
        font-size:1.8em;
}
#tagCloud01 .s09 { 
        font-size:2.0em;
}
#tagCloud01 .s10 { 
        font-size:2.2em;
}

#tagCloud01 .c01 { 
        color:#10143A;
}
.c02 { 
        color:red;
}
.c03 { 
        color:#4A4D08;
}
.c04 { 
        color:#424D52;
}
.c05 { 
        color:#631400;
}
.c06 { 
        color:black;
}
.c07 { 
        color:#DE9A00;
}
.c08 { 
        color:orange;
}
.c09 { 
        color:gray;
}
.c10 { 
        color:#EFA600;
}
.c11 { 
        color:#BD1000;
}
.c12 { 
        color: green;
}
.c13 { 
        color: blue;
}



#twitter { 
        position:relative;
        margin-left: 1148px;
	right: 2px; top: -44px;
        float:left;
        z-index:100;
}



#__banner {
	width: 1148px;
	height: 184px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img03.png) no-repeat left top;
/* 	background: url(../images/wiki_mod-800px-Nnw_view_from_masada_fortress_top.png) no-repeat left top; */
}
#__menu-top ul {
	position: absolute;
	right: 32px; top: 9px;
	font: 0.9em 'Trebuchet MS', sans-serif;
	color: #FFF;
	list-style: none;
	margin: 0; padding: 0;		

}
